<div id="clearance" class="sign-in">
  <h2><%= t '.title' %></h2>
  <% flash.each do |key, value| -%>
    <div class="flash-<%= key %>"><%=h value %></div>
  <%- end %>

  <%= render partial: '/sessions/form' %>
</div>
