<h1><%= t(:projects) %></h1>
<% unless @projects.empty? %>
  <ul>
  <% @projects.each do |project| %>
    <li><%= project.name %></li>
  <% end %>
  </ul>
<% else %>
  <em>Nenhum projeto encontrado</em>
<% end %>
