<div id="clearance" class="password-reset">
  <h2><%= t '.title' %></h2>

  <p><%= t '.description' %></p>

  <% flash.each do |key, value| %>
    <div class="flash-<%= key %>"><%=h value %></div>
  <% end %>

  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>
