<div id="clearance" class="password-reset">
  <h2><%= t '.title' %></h2>

  <p><%= t '.description' %></p>

  <% flash.each do |key, value| -%>
    <div class="flash-<%= key %>"><%=h value %></div>
  <%- end %>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>
