#clearance {
  @include span-columns(4);

  form {
    margin: 25px 0;
  }

  .submit-field {
    display: inline;
  }

  .other-links {
    margin-top: 10px;
    display: inline;
    float: right;
  }
}
