<footer class="footer" role="contentinfo">
  <div class="footer-wrapper">
    <div class="made-by">
      by <%= image_tag 'logo-tracer-simbol.svg' %>
    </div>
    <div class="footer-logo">
      <a href="/">
        <%= image_tag 'logo-target.svg' %>
      </a>
    </div>
  </div>
</footer>
