<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag 'logo.svg' %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- <li class="nav&#45;link"><a href="projects">Projects</a></li> -->
      </ul>
    </nav>
    <div class="navigation-tools">
      <% if signed_in? -%>
        <%= link_to t('layouts.application.sign_out'), sign_out_path, method: :delete , class: "sign-out" %>
      <% else -%>
          <%= link_to t('layouts.application.sign_in'), sign_in_path, class: 'sign-in' %>
        <% if Clearance.configuration.allow_sign_up? %>
          <%= link_to t('layouts.application.sign_up'), sign_up_path, class: 'sign-up' %>
        <% end %>
      <% end -%>
    </div>
  </div>
</header>

