<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <div class="wrapper">
    <%= render 'layouts/nav' %>
    <section class="content">
      <%= yield %>
    </section>
  </div>
  <%= render 'layouts/footer'%>  
</body>
</html>
